.credentialVerify{

     justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5em;
    padding-left: 109rem;
    border-right:10rem;

}

.btn-login {

    background-color: #611BBD; 
    border-color: #4040c2; 
}